name: Using Secrets
on: [push, workflow_dispatch]
jobs:
  use-a-secret: 
    runs-on: ubuntu-latest
    steps: 
    - name: Using Secrets
      env: 
        MY_SECRET_TOKEN: ${{ secrets.SECRET_TOKEN }}
      if: env.MY_SECRET_TOKEN == 'TrustNo1'
      run: echo "I know what the secret token is. It is '${MY_SECRET_TOKEN}'!"