name: Using Actions 
on: [workflow_dispatch]
jobs: 
  using-actions: 
    runs-on: ubuntu-latest
    steps:
      - name: List Files 
        run: |
          pwd
          ls -a 
      - name: Checkout 
        uses: actions/checkout@v2
      - name: List Files After Checkout
        run: |
          pwd
          ls -a
      - name: Simple JS Action 
        uses: actions/hello-world-javascript-action@v1
        with: 
          who-to-greet: John